.mask {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.img {
  width: 45px;
  height: 45px;
  border-radius: 8px;
}

.top {
  display: flex;
}

.name {
  max-width: 170px;
  color: #182026;
  font-size: 14px;
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.artists {
  width: 200px;
  color: #bababa;
  font-size: 14px;
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text {
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.duration {
  color: #b3b3b3;
  margin-top: 5px;
  font-size: 12px;
}

.drawer {
  :global {
    .ant-drawer-mask {
      background: rgba(255,255,255,0) !important;
    }

  .ant-drawer-content-wrapper {
    bottom: @footerHeight;
    height: calc(100vh - @headerHeight - @footerHeight) !important;
  }


  .ant-drawer-wrapper-body {
    background-color: #f8f8f8;
  }
  }
}