

.middle {
  width: 100%;
  height: calc(100vh - @headerHeight - @footerHeight);
  display: flex;
  overflow: hidden;
  background-color: #FFFFFF;
}

.sider {
  :global {
    
    .ant-layout-sider-children{
      width: @sidebarWidth !important;
      background-color: #ededed;
      overflow: hidden;
    }
  }
}

.content {
  /* 减去sidebar的宽度 */
  width: calc(100vw - @sidebarWidth) !important;

  margin-top: @headerHeight;
  margin-bottom: @footerHeight;
  overflow: scroll;
}