

.middle {
  position: fixed;
  width: 100%;
  height: calc(100vh - @headerHeight);
  display: flex;
  background-color: #FFFFFF;
  overflow: hidden;
}

.sider {
  position: absolute;
  margin-top: @headerHeight;
  
  :global {
    
    .ant-layout-sider-children{
      width: @sidebarWidth !important;
      background-color: #ededed;
      overflow: hidden;
    }
  }
}

.content {
  /* 减去sidebar的宽度 */
  width: calc(100vw - @sidebarWidth) !important;
  height: calc(100vh - @headerHeight - @footerHeight);

  margin-top: @headerHeight;
  overflow: scroll;
}
