.root {
  margin: 0 250px;

  .top {
    display: flex;
    height: 470px;

    .img {
      flex: 8;
    }

    .lyric {
      flex: 7;
    }
  }

  .bottom {
    display: flex;

    .comment {
      flex: 2;
    }
    .recommend {
      flex: 1;
    }
  }
}